{% extends 'base.html' %}

{% block content %}
       

<ul class="row">
    {% for department in schools.departments.all %}
   <li class="col-auto " >
            <div class ="card  bg-white mb-3 sm-3" style="width: 339px;">
            <div class="card-body">
                <h2 class="category-name-cap  ">{{department.name}}</h2><hr>
                <h3 class="card-text btn ">{{department.description|truncatechars:75}}</h3><hr>
                <button class="btn btn-indigo btn-rounded btn-md">
                <a href="{% url 'meru_learning:courses_list' slug=department.slug school=schools.slug %}">
                    <h2>
                        <span> View Courses</span>
                    </h2>
                </a>
            </button>

            </div>
        </div>
    </li>

    {% endfor %}
</ul>
{% endblock %}