{% load static %}
<html>
<head>
    <title>MERU</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div class="grid-container">
    <header class="header">
        <div class="brand">
            <a  href="{% url 'meru_learning:schools_list' %}">MERU</a>
        </div>
        <div class="header-links">
            <a href="{% url 'meru_learning:schools_list' %}">Profile</a>
            <a href="{% url 'meru_learning:schools_list'%}">unit_registration</a>
            <a href="{% url 'meru_learning:schools_list'%}">Examination</a>
            <a href="{% url 'meru_learning:schools_list'%}">attendance</a>
            <a href="{% url 'users:user_logout'%}">Logout</a>

        </div>
        </header>
            </header>
    <main class="main">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="footer">
        <h1>all rights reserved to @MERU University</h1><hr>
    </footer>
</div>
</body>
</html>
